<table class="table">
    <thead> 
        <th>Code</th> 
        <th>Name</th> 
    </thead> 
    <tbody> 
        {{#products}} 
        <tr> 
            <td>{{code}}</td> 
            <td>{{name}}</td> 
        </tr> 
        {{/products}} 
    </tbody> 
</table> 
